@use '../variable/variable' as var;

.text-primary {
  color: hsl(var.$primary);
}

@for $i from 0 through 100 {
  .text-primary\/#{$i} {
    color: #{'hsl(' + var.$primary + ' / ' + $i + '%)'};
  }
}

// ------------- accent ----------------
.text-accent {
  color: hsl(var.$accent);
}

@for $i from 0 through 100 {
  .text-accent\/#{$i} {
    color: #{'hsl(' + var.$accent + ' / ' + $i + '%)'};
  }
}

// ------------- golden ----------------
.text-gradient-golden {
  background: linear-gradient(135deg, #dda23c, #a86624);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: var.$playfair, serif;
}
// ------------- muted ----------------

.text-muted-foreground {
  color: hsl(var.$muted-foreground);
}
